
@import url('buttons.css');

@import url('modals.css');

html{
	background:black;
}


.youtube-block{
	 flex: 0 0 auto;
	 
}

body {
  height: 100%;
}

.p-layout {
	display: flex;
	flex-direction: column;
	min-height: 97vh;
}
.content {
	flex-grow: 1;
}

.controls{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.block1{
	display: flex;
	flex-direction: row;
}
.block2{
	display: flex;
	flex-direction: row;
}

.noactive{
	display: none!important;
}

.w3-light-grey,.w3-hover-light-grey:hover,.w3-light-gray,.w3-hover-light-gray:hover{color:#000!important;background-color:#f1f1f14d!important}
.w3-red,.w3-hover-red:hover{color:#fff!important;background-color:#f44336!important}